<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Console</title>
</head>
<script src="https://cdn.plot.ly/plotly-2.24.1.min.js" charset="utf-8"></script>
<body>
    <div style="display: flex;">
        <p>frequency:   </p>
        <p id="frequency"></p>
    </div>

    <div style="display: flex;">
        <p>heading:   </p>
        <p id="heading"></p>
    </div>

    <div id="gyro" style="width:600px;height:250px;"></div>
    <div id="accel" style="width:600px;height:250px;"></div>
    <div id="mag" style="width:600px;height:250px;"></div>
</body>
<script src="/socket.io/socket.io.js"></script>
<script>
    const RANGE = 400
    const range = new Array(RANGE)

    const gyroX = {
        x: [],
        y: [],
        margin: {t: 0},
        mode:"lines",
        name: "X"
    }
    const gyroY = {
        x: [],
        y: [],
        margin: {t: 0},
        mode:"lines",
        name: "Y"
    }
    const gyroZ = {
        x: [],
        y: [],
        margin: {t: 0},
        mode:"lines",
        name: "Z"
    }
    const accelX = {
        x: [],
        y: [],
        margin: {t: 0},
        mode:"lines",
        name: "X"
    }
    const accelY = {
        x: [],
        y: [],
        margin: {t: 0},
        mode:"lines",
        name: "Y"
    }
    const accelZ = {
        x: [],
        y: [],
        margin: {t: 0},
        mode:"lines",
        name: "Z"
    }
    const magX = {
        x: [],
        y: [],
        margin: {t: 0},
        mode:"lines",
        name: "X"
    }
    const magY = {
        x: [],
        y: [],
        margin: {t: 0},
        mode:"lines",
        name: "Y"
    }
    const magZ = {
        x: [],
        y: [],
        margin: {t: 0},
        mode:"lines",
        name: "Z"
    }
</script>
<script>
    
    const BUFFER_SIZE = 5;

    const gyroData =    [gyroX, gyroY, gyroZ]
    const accelData =   [accelX, accelY, accelZ]
    const magData =     [magX, magY, magZ]

    const gyroBuffer = [{x:new Array(BUFFER_SIZE),y:new Array(BUFFER_SIZE)}, {x:new Array(BUFFER_SIZE),y:new Array(BUFFER_SIZE)},{x:new Array(BUFFER_SIZE),y:new Array(BUFFER_SIZE)}]
    const accelBuffer = [{x:new Array(BUFFER_SIZE),y:new Array(BUFFER_SIZE)}, {x:new Array(BUFFER_SIZE),y:new Array(BUFFER_SIZE)},{x:new Array(BUFFER_SIZE),y:new Array(BUFFER_SIZE)}]
    const magBuffer =   [{x:new Array(BUFFER_SIZE),y:new Array(BUFFER_SIZE)}, {x:new Array(BUFFER_SIZE),y:new Array(BUFFER_SIZE)},{x:new Array(BUFFER_SIZE),y:new Array(BUFFER_SIZE)}]


</script>
<script> 
    const gyroPlot = document.getElementById('gyro');
    const accelPlot = document.getElementById('accel');
    const magPlot = document.getElementById('mag');    
    const frequencyDiv = document.getElementById("frequency")
    const headingDiv = document.getElementById("heading")
</script>
<script>
    let i = 0;
    const domain = (new URL(window.location.href));
    
    const socket = io(domain.host);

    // THIS MUST COME FROM A CENTRAL SETTING POINT
    const DISCRETE_DISPLAY = 'DISCRETE_DISPLAY'

    socket.on("connect", () => {
        socket.emit("ID", DISCRETE_DISPLAY)
    })

    let packetCount = 0;

    socket.on("py-data", (g,a,m,t,c,o) => {
        console.log(g,m,o)

        frequencyDiv.innerHTML = `${1/(c/t)}`
        headingDiv.innerHTML = `${m[3]}`

        if(packetCount < BUFFER_SIZE) {
            gyroBuffer[0].y[packetCount] = g[0]
            gyroBuffer[0].x[packetCount] = t
            gyroBuffer[1].y[packetCount] = g[1]
            gyroBuffer[1].x[packetCount] = t
            gyroBuffer[2].y[packetCount] = g[2]
            gyroBuffer[2].x[packetCount] = t

            accelBuffer[0].y[packetCount] = a[0]
            accelBuffer[0].x[packetCount] = t
            accelBuffer[1].y[packetCount] = a[1]
            accelBuffer[1].x[packetCount] = t
            accelBuffer[2].y[packetCount] = a[2]
            accelBuffer[2].x[packetCount] = t

            magBuffer[0].y[packetCount] = m[0]
            magBuffer[0].x[packetCount] = t
            magBuffer[1].y[packetCount] = m[1]
            magBuffer[1].x[packetCount] = t
            magBuffer[2].y[packetCount] = m[2]
            magBuffer[2].x[packetCount] = t

            packetCount++
        } else {
            packetCount = 0

            if(gyroData[0].x.length + packetCount < RANGE) {
                gyroData[0].y = gyroData[0].y.concat(gyroBuffer[0].y) 
                gyroData[0].x = gyroData[0].x.concat(gyroBuffer[0].x)
                gyroData[1].y = gyroData[1].y.concat(gyroBuffer[1].y) 
                gyroData[1].x = gyroData[1].x.concat(gyroBuffer[1].x)
                gyroData[2].y = gyroData[2].y.concat(gyroBuffer[2].y) 
                gyroData[2].x = gyroData[2].x.concat(gyroBuffer[2].x)

                accelData[0].y = accelData[0].y.concat(accelBuffer[0].y) 
                accelData[0].x = accelData[0].x.concat(accelBuffer[0].x)
                accelData[1].y = accelData[1].y.concat(accelBuffer[1].y) 
                accelData[1].x = accelData[1].x.concat(accelBuffer[1].x)
                accelData[2].y = accelData[2].y.concat(accelBuffer[2].y) 
                accelData[2].x = accelData[2].x.concat(accelBuffer[2].x)
                
                magData[0].y = magData[0].y.concat(magBuffer[0].y) 
                magData[0].x = magData[0].x.concat(magBuffer[0].x)
                magData[1].y = magData[1].y.concat(magBuffer[1].y) 
                magData[1].x = magData[1].x.concat(magBuffer[1].x)
                magData[2].y = magData[2].y.concat(magBuffer[2].y) 
                magData[2].x = magData[2].x.concat(magBuffer[2].x)

                Plotly.newPlot( gyroPlot, gyroData, {title: "Gyroscope"});
                Plotly.newPlot( accelPlot, accelData, {title: "Accelerometer"});
                Plotly.newPlot( magPlot, magData, {title: "Magnetometer"});
            } else {
                // slice then concat
                let xgyt = gyroData[0].y.slice(BUFFER_SIZE)
                let xgxt = gyroData[0].x.slice(BUFFER_SIZE)
                let ygyt = gyroData[1].y.slice(BUFFER_SIZE)
                let ygxt = gyroData[1].x.slice(BUFFER_SIZE)
                let zgyt = gyroData[2].y.slice(BUFFER_SIZE)
                let zgxt = gyroData[2].x.slice(BUFFER_SIZE)

                gyroData[0].y = xgyt.concat(gyroBuffer[0].y) 
                gyroData[0].x = xgxt.concat(gyroBuffer[0].x)
                gyroData[1].y = ygyt.concat(gyroBuffer[1].y) 
                gyroData[1].x = ygxt.concat(gyroBuffer[1].x)
                gyroData[2].y = zgyt.concat(gyroBuffer[2].y) 
                gyroData[2].x = zgxt.concat(gyroBuffer[2].x)

                let xayt = accelData[0].y.slice(BUFFER_SIZE)
                let xaxt = accelData[0].x.slice(BUFFER_SIZE)
                let yayt = accelData[1].y.slice(BUFFER_SIZE)
                let yaxt = accelData[1].x.slice(BUFFER_SIZE)
                let zayt = accelData[2].y.slice(BUFFER_SIZE)
                let zaxt = accelData[2].x.slice(BUFFER_SIZE)

                accelData[0].y = xayt.concat(accelBuffer[0].y) 
                accelData[0].x = xaxt.concat(accelBuffer[0].x)
                accelData[1].y = yayt.concat(accelBuffer[1].y) 
                accelData[1].x = yaxt.concat(accelBuffer[1].x)
                accelData[2].y = zayt.concat(accelBuffer[2].y) 
                accelData[2].x = zaxt.concat(accelBuffer[2].x)

                let xmyt = magData[0].y.slice(BUFFER_SIZE)
                let xmxt = magData[0].x.slice(BUFFER_SIZE)
                let ymyt = magData[1].y.slice(BUFFER_SIZE)
                let ymxt = magData[1].x.slice(BUFFER_SIZE)
                let zmyt = magData[2].y.slice(BUFFER_SIZE)
                let zmxt = magData[2].x.slice(BUFFER_SIZE)

                magData[0].y = xmyt.concat(magBuffer[0].y) 
                magData[0].x = xmxt.concat(magBuffer[0].x)
                magData[1].y = ymyt.concat(magBuffer[1].y) 
                magData[1].x = ymxt.concat(magBuffer[1].x)
                magData[2].y = zmyt.concat(magBuffer[2].y) 
                magData[2].x = zmxt.concat(magBuffer[2].x)

                //only graph again after crunch buffer
                Plotly.newPlot( gyroPlot, gyroData, {title: "Gyroscope"});
                Plotly.newPlot( accelPlot, accelData, {title: "Accelerometer"});
                Plotly.newPlot( magPlot, magData, {title: "Magnetometer"});
            }
        }

    })
</script>
</html>